MAIN_VITE_API_URL=
MAIN_VITE_AUTH_URL=
MAIN_VITE_WS_URL=
MAIN_VITE_NIMBUS_API_URL=
RENDERER_VITE_REAL_DEBRID_REFERRAL_ID=
RENDERER_VITE_TORBOX_REFERRAL_CODE=
MAIN_VITE_LAUNCHER_SUBDOMAIN=

# Integrations: Google Drive
MAIN_VITE_GOOGLE_DRIVE_CLIENT_ID=
MAIN_VITE_GOOGLE_DRIVE_CLIENT_SECRET=
MAIN_VITE_GOOGLE_DRIVE_REDIRECT_URI=http://127.0.0.1:53682/oauth/google/callback

# Integrations: DropBox
MAIN_VITE_DROPBOX_APP_KEY=
MAIN_VITE_DROPBOX_APP_SECRET=
MAIN_VITE_DROPBOX_REDIRECT_URI=http://127.0.0.1:53683/oauth/dropbox/callback
